/* Browser Style Reset and Defaults */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Color variables defined */
:root {
  --white: #ffffff;
  --offwhite: #fafafa;
  --vlightgray: #bdbdbd;
  --almostblack: #1e1e23;
  --black: #000000;
}
/* 
font-family: 'Crimson Pro', serif;

font-family: 'Montserrat', sans-serif; 
*/

/* Mobile First ***************************************************/

body {
  /* background-color: var(--offwhite); */
  background-color: #596574; /*temp color */
  color: var(--black);
}

/* header {
  border: 1px solid #36383f;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #f5f6fa;
  overflow: hidden;
} */

.wrapper {
  background-color: var(--almostblack);
  max-width: 375px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
  background-color: var(--almostblack);
  height: 85px;
}

.logo {
  margin-top: 25px;
}

.logo a {
  color: var(--white);
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 0.973rem;
  border: 2px var(--white) solid;
  padding: 8px 9px 7px 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  /* left: 0px; */
  /* right: 12.75px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  /* background: #36383f; */
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 375px;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -334px;
  padding: 50px;
  padding-top: 33vh;
  background-color: var(--almostblack);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
  color: var(--white);
  list-style: none;
  text-align: center;
}

#menu li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.371rem;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

main {
  max-width: 350px;
  margin: 0 auto;
}

h2 {
  font-family: Lora;
  color: var(--white);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.875rem;
}

.intro {
  font-family: Montserrat;
  color: var(--white);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.063rem;
  width: 71%;
}

.nobreak {
  white-space: nowrap;
}

/* Credit and link information at bottom */
.createdBy {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: var(--vlightgray);
  margin-top: 114px;
  padding-bottom: 24px;
}
.createdBy a {
  color: var(--vlightgray);
  font-weight: 700;
  text-decoration: underline;
}
